#### 1. Create a 3x5 numpy array filled with random numbers from 1 to 10.

#### 1. Ստեղծեք 1-ից 10 պատահական թվերով լցված (3, 5) չափերով numpy array։

In [1]:
import numpy as np
arr = np.random.randint(1,11,(3,5))
print(arr)

[[ 7  7  1  6  7]
 [ 7  6  6  3 10]
 [ 4  9  2  9  5]]

#### 2. Create a numpy array of size 10 filled with 0s and replace its 5th value with a 3.

#### 2. Ստեղծեք 10 չափի 0-ներով լցված numpy array ու փոխարինեք դրա 5-րդ արժեքը 3 թվով։

In [2]:
arr = np.zeros(10).astype(int)
arr[4] = 3
print(arr)

[0 0 0 0 3 0 0 0 0 0]

#### 3. Create a numpy array filled with numbers from 3 to 15 i.e. ([3, 4 … 13, 14])

#### 3. Ստեղծեք 3-ից 15 թվերից բաղկացած numpy array ([3, 4 … 13, 14])

In [3]:
arr = np.arange(3,15)
print(arr)

[ 3  4  5  6  7  8  9 10 11 12 13 14]

#### 4. Reshape a numpy array of size 6x0 [1, 3, 5, 2, 4, 5] into an array of size 3x2 and then 2x3 without changing the original numpy array.  

#### 4. Վերածեք 6x0 [1, 3, 5, 2, 4, 5] numpy array-ը սկզբում 3x2 այնուհետև 2x3 numpy array-ների առանց սկզբնական numpy array-ը փոփոխելու։

In [4]:
arr = np.array([1, 3, 5, 2, 4, 5])
arr1 = arr.reshape(3,2)
arr2 = arr.reshape(2,3)
print(arr)
print(arr1)
print(arr2)

[1 3 5 2 4 5]
[[1 3]
 [5 2]
 [4 5]]
[[1 3 5]
 [2 4 5]]

#### 5. Write a function which gets a numpy array as an input and divides all of the array values by 2 over and over again, until the mean of the array numbers is <=5. Then, once the mean of the array numbers is <=5, the funtion returns the modified numpy array. 

#### 5. Գրեք ֆունկցիա, որը ստանում է numpy array ու բաժանում է դրա բոլոր արժեքները 2-ի այնքան ժամանակ մինչև որ դրանց միջին արժեքը լինի <=5։ Այնուհետև, հենց միջին արժեքը դառնում է <=5, ֆունկցիան վերադարձնում է փոփոխված numpy array-ը։

In [5]:
def new_arr(arr):
    while np.mean(arr) > 5:
        arr = np.divide(arr,2)
        
    return arr

new_arr(np.array([2,3,4,5,6,7,8,10,15,20]))

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  5. ,  7.5, 10. ])

#### 6. Write a function which gets a 5x4 numpy array filled with random numbers from 1 to 10 as an input and returns 4 different numpy arrays which are the columns of the original numpy array. Write another similar function which returns 5 different numpy arrays which are rows of the original numpy array. 

#### 6. Գրեք ֆունկցիա, որը ստանում է 1-ից 10 պատահական թվերով լցված 5x4 numpy array ու վերադարձնում է 4 տարբեր numpy array-ներ, որոնք սկզբնական numpy array-ի սյուներն են։ Գրեք նմանատիպ ֆունկցիա, որը վերադարձնում է 5 տարբեր numpy array-ներ, որոնք սկզբնական numpy array-ի տողերն են։

In [11]:
def column(arr):
    arr = np.random.randint(1,10,(5,4))
    print(arr)
    for i in range(arr.shape[-1]):
        print(f'{i+1} column:', arr[:,i])

def row(arr):
    arr = np.random.randint(1,10,(5,4))
    print(arr)
    for i in range(arr.shape[0]):
        print(f'{i+1} row:', arr[i])
    return

column(arr)
print('_'*25)
row(arr)

[[8 7 2 1]
 [2 9 9 4]
 [9 8 4 7]
 [6 2 4 5]
 [9 2 5 1]]
1 column: [8 2 9 6 9]
2 column: [7 9 8 2 2]
3 column: [2 9 4 4 5]
4 column: [1 4 7 5 1]
_________________________
[[4 3 1 5]
 [3 8 8 9]
 [7 4 8 8]
 [5 6 4 7]
 [9 1 3 8]]
1 row: [4 3 1 5]
2 row: [3 8 8 9]
3 row: [7 4 8 8]
4 row: [5 6 4 7]
5 row: [9 1 3 8]

#### 7. Multiply a 5x3 numpy array by a 3x2 numpy array containing random integer values with some fixed seed. 

#### 7. Ստեղծեք 5x3 ու 3x2 չափանի numpy array-ներ որոնք պարունակում են պատահական integer տիպի արժեքներ ֆիքսված seed-ով։ Գտեք առաջին և երկրորդ  array-ների արտադրյալը։

In [7]:
np.random.seed(1)
arr1 = np.random.randint(1,10,(5,3))
arr2 = np.random.randint(1,10,(3,2))
print(arr1)
print('_'*10)
print(arr2)
print('_'*10)
print(arr1@arr2)

[[6 9 6]
 [1 1 2]
 [8 7 3]
 [5 6 3]
 [5 3 5]]
__________
[[8 8]
 [2 8]
 [1 7]]
__________
[[ 72 162]
 [ 12  30]
 [ 81 141]
 [ 55 109]
 [ 51  99]]

#### 8. Write a program to sort an array of integers of shape 3x3 first along the columns, then along rows and finally flatten the array so that it becomes a one dimentional array of size 9 and sort the flattened array. 

#### 8. Գրեք ծրագիր որը կսորտավորի ձեր ցանկացած թվերով լցված 3x3 չափանի array-ը սկզբում ըստ սյուների, հետո ըստ տողերի, ապա flatten արեք array-ը դարձնելով այն 9 արժեք պարունակող 1 չափանի array ու սորտավորեք այն։

In [12]:
arr = np.array([1,4,3,6,9,8,2,7,5]).reshape(3,3)
print(arr)
print('_'*10)
print(np.sort(arr))
print('_'*10)
print(np.sort(arr, axis=0))
print('_'*10)
print(np.sort(arr.flatten()))

[[1 4 3]
 [6 9 8]
 [2 7 5]]
__________
[[1 3 4]
 [6 8 9]
 [2 5 7]]
__________
[[1 4 3]
 [2 7 5]
 [6 9 8]]
__________
[1 2 3 4 5 6 7 8 9]

#### 9. Create a 7 x 7 numpy array of zeros and then "frame" it with a border of ones. Your result should look like this:

#### 9. Ստեղծեք 7 x 7 չափանի, 0-ներով լցված numpy array։ Ավելացրեք numpy array-ին 1-երից բաղկացած “շրջանակ”։ Վերջնական արդյունքը պետք է ունենա հետևյալ տեսքը՝

![image.png]()

In [9]:
arr = np.zeros((7,7))
arr2 = np.pad(arr,1,constant_values=1)
print(arr2)

[[1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1.]]

#### 10. Create the following numpy arrays and calculate the product between a and b. Transform the second array if needed.

#### Ստեղծեք հետևյալ numpy array-ները ու հաշվեք a և b array-ների արտադրյալը։ Transform արեք երկրորդ array-ը եթե կա դրա կարիքը։

$$a = \begin{bmatrix} 1 & 3 \\ 3 & 13 \\ 0 & -1  \end{bmatrix}$$

$$b = \begin{bmatrix} 1 & 1 \\ 2 & 1 \\ 3 & -3 \end{bmatrix}$$

In [10]:
arr1 = np.array([1,3,3,13,0,-1]).reshape((3,2))
arr2 = np.array([1,1,2,1,3,-3]).reshape((3,2))
print(arr1)
print('_'*10)
print(arr2)
print('_'*10)
print(arr1@np.transpose(arr2))

[[ 1  3]
 [ 3 13]
 [ 0 -1]]
__________
[[ 1  1]
 [ 2  1]
 [ 3 -3]]
__________
[[  4   5  -6]
 [ 16  19 -30]
 [ -1  -1   3]]